<ion-header>
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher id="refresh-page" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list id="name-list">

    <ion-card *ngFor="let name of data?.test">
      <ion-card-content>
        <p>{{name.name}}</p>

        <div padding>
          <button ion-button type="submit" (click)="updateName(name)">Update</button>
          <button ion-button type="submit" (click)="deleteName(name)">Delete</button>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
