<ion-header>
  <ion-toolbar>
    <ion-label floating padding [routerDirection]="'root'" [routerLink]="'/home'">
      <ion-icon slot="start" [name]="'arrow-back'"></ion-icon>
      Home
    </ion-label>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #updateForm="ngForm" (ngSubmit)="updateProfile(updateForm.value)">
    
    <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="name" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password" value=""></ion-input>
      </ion-item>

    </ion-list>

    <div padding>
      <ion-button color="primary" type="submit">Update</ion-button>
    </div>

  </form>
</ion-content>
