# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

myApp/idea/
myApp/ionic/
myApp/sourcemaps/
myApp/sass-cache/
myApp/tmp/
myApp/versions/
myApp/coverage/
myApp/dist/
myApp/node_modules/
myApp/tmp/
myApp/temp/
myApp/platforms/
myApp/plugins/
myApp/plugins/android.json
myApp/plugins/ios.json
myApp/www/
myApp/$RECYCLE.BIN/

myApp/.DS_Store
myApp/Thumbs.db
myApp/UserInterfaceState.xcuserstate

ionic4-angular-news/idea/
ionic4-angular-news/ionic/
ionic4-angular-news/sourcemaps/
ionic4-angular-news/sass-cache/
ionic4-angular-news/tmp/
ionic4-angular-news/versions/
ionic4-angular-news/coverage/
ionic4-angular-news/dist/
ionic4-angular-news/node_modules/
ionic4-angular-news/tmp/
ionic4-angular-news/temp/
ionic4-angular-news/platforms/
ionic4-angular-news/plugins/
ionic4-angular-news/plugins/android.json
ionic4-angular-news/plugins/ios.json
ionic4-angular-news/www/
ionic4-angular-news/$RECYCLE.BIN/

ionic4-angular-news/.DS_Store
ionic4-angular-news/Thumbs.db
ionic4-angular-news/UserInterfaceState.xcuserstate

crud/idea/
crud/ionic/
crud/sourcemaps/
crud/sass-cache/
crud/tmp/
crud/versions/
crud/coverage/
crud/dist/
crud/node_modules/
crud/tmp/
crud/temp/
crud/platforms/
crud/plugins/
crud/plugins/android.json
crud/plugins/ios.json
crud/www/
crud/$RECYCLE.BIN/

crud/.DS_Store
crud/Thumbs.db
crud/UserInterfaceState.xcuserstate
